<%- include partials/header.ejs %>
<div class="container">
<div class="row">
    <h1><%= title %></h1>
</div>
<div class="row"> 
    <table class="responsive striped">
        <thead>
          <tr>
              <th data-field="title">Name</th>
              <th data-field="location">Location</th>
              <th data-field="city">City</th>
              <th data-field="website">Website</th>
              <th data-field="founded">Founded</th>
          </tr>
        </thead>

        <tbody>
        <% for (var i = 0; i < bars.length; i++) { %>
          <tr>
            <td><%= bars[i].title %></td>
            <td><%= bars[i].location %></td>
            <td><%= bars[i].city %></td>
            <td><a href="<%= bars[i].website %>"><button class="btn indigo darken-2 waves-effect waves-light white-text">Website</button></a></td>
            <td><%= bars[i].founded %></td>
          </tr>
        <% } %>  
        </tbody>
      </table>
</div>
<div class="row">
    <a href="/auth/login" title="Login"><button class="btn red darken-4 waves-effect waves-light white-text">
    Login</button></a>
    or  
    <a href="/auth/register" title="Register"><button class="btn indigo darken-2 waves-effect waves-light white-text"> 
    Register</button></a>
</div>
</div>
<%- include partials/footer.ejs %>
