<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Edit Bars</h1>

    <table class="responsive striped">
    <thead>
        <tr>
            <th data-field="title">Name</th>
            <th data-field="location">Location</th>
            <th data-field="city">City</th>
            <th data-field="website">Website</th>
            <th data-field="founded">Founded</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < bars.length; i++) { %>
          <tr>
            <td><a href="/bars/<%= bars[i]._id%>"><%= bars[i].title %></a></td>
            <td><%= bars[i].location %></td>
            <td><%= bars[i].city %></td>
            <td><a href="<%= bars[i].website %>"><%= bars[i].website %></a></td>
            <td><%= bars[i].founded %></td>
          </tr>
        <% } %>  
        </tbody>
      </table>
</main>

<%- include ../partials/footer.ejs %>